.card__container {
  width: 300px;
  height: 400px;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  position: relative;

  .recipe__image {
    height: 50%;

    img {
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      position: relative !important;
    }
  }

  .recipe__content {
    padding: 1em;

    .recipe__rating {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .recipe__title {
      padding-top: 1em;
    }

    .recipe__stats {
      position: absolute;
      right: 20px;
      bottom: 5px;
      display: flex;
      align-items: center;
      gap: 1em;

      &_likes {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      &_comments {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}
