:root {
  --color-main: rgb(235, 235, 235);
  --bg-color-accent: #ede7b1;
  --icon-color: #fff;
  --icon-color-hover: #ede7b1;
  --background-color: #ede7b1;
  --header-footer-color: #9b5de5;

  --tag-purple: #9b5de5;
  --tag-yellow: #fee440;
  --tag-pink: #f15bb5;
  --tag-blue: #00bbf9;
  --tag-TURQUOISE: #00f5d4;
  --tag-ORANGE: #ff9505;
  
  --bg-gradient-1: #d5f7ff;
  --bg-gradient-2: #7b88d1;
  --bg-nav: #7b88d1;
  --nav-btn: #00aaff;
  --nav-btn-hover: #5cc8ff;
  --error: #c93737;
  --sucess: #4bb544;

  --test-1: #e1e2f3;
  --test-2: #8274c1;
  --test-3: #dec1ff;
  --test-4: #5cc8ff;
  --test-5: #78bdef;
  --test-6: #146696;
  --test-7: #7b88d1;
  --color-grey-10: rgb(200, 200, 200);
  --color-purple-10: #6F57EB;
}

/*-----------------------------------  
    Table of Contents
    -> General
    -> Typography
    Pages: 
    -> index.html
    -> add-idea.html
    -> get-idea.html
    -> Nav
    -> Footer
----------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background: linear-gradient( var(--bg-gradient-2), var(--bg-gradient-1) );
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

/*
  background: linear-gradient(to bottom right , var(--bg-gradient-2), var(--bg-gradient-1) );
*/

main { margin: 4rem 0;
  padding-top: 4rem;
}

img { max-width: 100%;}

.contentWrap {
  flex: 1 0 auto;
}

.hide-element {
  display: none;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
}

.split {
  display: flex;
  flex: wrap;
  gap: 1rem;
}

.split > * { 
  flex-basis: 100%;
  align-self: flex-start;
}

.text-center { text-align: center;}

/* Colors */
.stay-home {
  background-color: var(--tag-blue);
}

.restaurant {
  background-color: var(--tag-yellow);
}

.indoor {
  background-color: var(--tag-pink);
}

.outdoor {
  background-color: var(--header-footer-color);
}

.road-trip {
    background-color: var(--tag-TURQUOISE);
}
/* any/other */
.other {
  background-color: var(--tag-ORANGE);
}

@media (max-width: 810px) {
  .split {
    flex-direction: column;
  }
  .split > * {
    flex-basis: 100%;
  }
}

/*----------------------
    index.html 
 
-----------------------*/

#home-first {
  height: 700px;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 10rem;
  padding-bottom: 20rem;
}

#home-second {
  background: var(--bg-nav);
  height: 700px;
  position: relative;
  padding-top: 10rem;
}

#home-third {
  margin-top: 10rem;
}

.idea-jar-ref {
  color: #00f5d4;
  font-weight: 600;
  text-decoration: underline;
}

.section-img {
  
}

.section-space {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-header {
  color: #161b33;
  font-size: 4rem;
  margin: 1.75rem 0;
  text-align: left;
}

.section-text {
  color: #fff;
  font-size: 1.5rem;
  text-align: left;
}

.body-flex {
  display: flex;
  flex-direction: column;
}

/* Wave */
.wave-top {
  position: absolute;
  
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
}

.wave-top .shape-fill {
  fill: var(--bg-nav);
}

.wave-bottom {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
}

.wave-bottom .shape-fill {
  fill: var(--bg-nav);
}
/* END of wave*/

.contentWrap {
  flex: 1 0 auto;
}

.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.h1Main {
  font-size: 5rem;
  display: flex;
  gap: 0.5rem;
  margin: 1rem;
}

.btnContainerMain {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 100px 0;
}

.btnContainerMain a {
  text-decoration: none;
  color: white;
}
.putIdeaBtnMain,
.getIdeaBtnMain {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  width: 300px;
  min-width: 250px;
  height: 100px;
  transition: transform .2s ease-in-out;
}

.putIdeaBtnMain:hover,
.getIdeaBtnMain:hover {
  opacity: 0.6;
  transform: translateY(-3px);
}

.putIdeaExplain,
.takeIdeaExplain {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  width: 175px;
  min-width: 150px;
  height: 70px;
  color: white;
  margin-bottom: 1rem;
}

.containerOverview {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  font-size: 1.3rem;
}

.containerExplain {
  display: flex;
  gap: 4rem;
  margin: 2rem 0 4rem 0;
}

.containerExplain > section {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 810px) {
  .btnContainerMain {
    flex-direction: column;
    align-items: center;
  }

  .containerExplain {
    flex-direction: column;
  }
}

/*---------------------
    get-item.html

---------------------*/
.mainHeading {
  color: var(--header-footer-color);
  font-size: 4rem;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

main ul {
  list-style-type: none;
}

#modal-btn {
  margin-left: 0.5rem;
  padding: 0.1rem 0.25rem;
}

.containerGet {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin: 4rem 0;
}
.containerGet div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.containerGet .activity-buttons {
    width: 50%;
    min-width: 410px;
    position: static;
}

#modal-btn {
    margin-left: 0.5rem;
    padding: 0.1rem 0.25rem;
}

#jar {
    width: 20%;
    min-width: 220px;
    max-width: 300px;
}

.containerJar img {
  position: absolute;
}

/* Buttons */

.activity-buttons {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  align-content: space-around;
}


.btn {
  padding: 2rem 3rem;
  /* margin: 3rem; */
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  /* width: 300px; */
  min-width: 200px;
  height: 100px;
  border-radius: 10px;

  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}

  
/*
    Buttons
*/
.shake {
    padding: 2rem 3rem;
    /* margin: 3rem; */
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    /* width: 300px; */
    min-width: 200px;
    height: 100px;
    border-radius: 10px;

    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* modal */

.containerModal {
  font-family: "Helvetica Neue", sans-serif;
  width: 100%;
  color: black;
  text-align: center;
}
.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  bottom: 30%;
  background: var(--tag-pink);
  border: 3px solid black;
  width: 50%;
  height: 50%;
  left: 25%;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}

.popup-content > h2 {
  padding: 2rem;
}

.open:hover {
  border: 10px solid black;
}

.mdlBtn {
  padding: 1rem;
  font-size: 1.5rem;
  height: 70px;
  width: 220px;
  min-width: 185px;
  color: black;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-btn-container{
  padding: 5rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
@media all and (max-width: 810px) {
  .containerGet {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  .containerJar img {
    position: static;
  }

  .popup-btn-container{
    flex-direction: column;
    align-items: center;
  }
}

/*---------------------
    add-item.html
    
    #add-item
    -> .idea-form
        -> img
        -> form
    -> .idea-container
        -> user-ideas
----------------------*/
form {
  display: flex;
  flex-direction: column;
}

#add-item img {
  height: 440px;
}

#add-item .card {
  display: flex;
  justify-content: center;
  align-self: center;
}

.img-container {
  display: flex;
  justify-content: center;
}

.card {
    background: #fff;
    box-shadow: 0px 10px 30px rgba(253, 127, 226, 0.3);
    /*
    box-shadow: 0px 10px 30px rgba(255, 79, 216, 0.3);
    */
    padding: 1.5rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    margin-top: 1rem;
}

.card-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.jar-shake {
    animation: shake .8s ease-in-out;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.form-space > * {
    margin: .25rem 0;
}

/* Radio input css */
input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

input[type="radio"]:checked+label {
    color: var(--icon-color);
    transform: translateY(-2px);
}

.category-options {
    border: 1px solid var(--color-grey-10);
    border-radius: 10px;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .5rem 0;
    text-align: center;
    width: 120px;
    transition: transform .2s ease-in-out;
}

.category-options:hover {transform: scale(1.05);}

.any {
  background: var(--tag-ORANGE);
}

.category-options:focus,
input[type="radio"]:focus {
    outline: 4px solid grey;
} 

/* END OF Radio input css */

.form-btn {
    padding: .5rem 1rem;
    border: 1px solid var(--color-grey-10);
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.form-btn:active {
    transform: translateY(2px);
}

.form-btn {
  background-color: var(--nav-btn);
  color: #fff;
  font-size: 1.2rem;
  border: none;
}

.form-btn:hover {
  background: var(--nav-btn-hover);
}

.idea-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.idea-container h2 {
    margin-bottom: 1.5rem;
}

td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}

/*---------------------
    login-signup.html
    
    #login-page
    -> .card .card-login
      -> #login
        -> .form-message
        -> .form-input-group
          -> .form-input
          -> .form-message
        -> button
        -> .form-text
        -> .form-text
----------------------*/
.card-login {
  width: 500px;
  margin: 10rem auto;
}

.form-message-error {
  color: var(--error);
}

.form-message-success {
  color: var(--sucess);
}

.form-input-group {
  margin-bottom: .5rem;
}

.form-input {
  display: block;
  width: 100%;
  padding: .75rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  background: #eee;
  transition: background .2s border-color .2s;
}

.form-input:focus {
  border-color: var(--bg-nav);
  background: #fff;
}

.form-input-error {
  color: var(--error);
  border-color: var(--error);
}

.form-message {
  margin: .5rem 0;
  font-size: .8rem;
  font-weight: 500;
}

.form-text { margin-top: .75rem;}

.form-text a {
  color: var(--header-footer-color);
  text-decoration: none;
}

.form-text a:hover {
  text-decoration: underline;
}

/*---------------------
    Nav
---------------------*/
nav {
  transition: .5s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
 }

nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 0;
  font-size: 1.25rem;
}

#nav-logo { height: 50px;}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style-type: none;
  margin-left: 0.75rem;
  font-size: 1.25rem;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  padding: 0.2rem;
}

.nav-item a:hover {
  border-bottom: 2px solid var(--bg-color-accent);
}

.nav-btn {
  border-radius: 10px;
  background: var(--nav-btn);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: .5rem 1rem;
  transition: transform .1s ease-in-out;
  text-decoration: none;
}

.nav-btn:hover { background: var(--nav-btn-hover);}

.nav-btn:active { transform: translateY(2px);}

#mobile-menu {
  display: none;
  z-index: 9;
}

@media (max-width: 810px) {
  .nav-list {
    position: fixed;
    left: 0;
    top: -100%;
    background: var(--bg-nav);
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
    z-index: 2;
  }

  .nav-item {
    padding: 1rem;
  }

  .nav-btn {
    margin-bottom: 1rem;
  }

  .nav-list.active {
    top: 4.25rem;
  }

  #mobile-menu {
    display: block;
    cursor: pointer;
  }

  #mobile-menu span {
    display: block;
    background: #fff;
    margin: 5px auto;
    height: 3px;
    width: 25px;
    transition: all 0.3s ease-in-out;
  }

  #mobile-menu.active span:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*---------------
    Footer
---------------*/
footer {
    padding: 1rem 0;
    background: var(--test-7);
    color: #fff;
    width: 100%;
    margin-top: auto;
    flex-shrink: 0;
}

.containerFooter {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem 3rem;
    width: 60%;
    margin: 0 auto;
}

footer h3,
footer a {
    color: var(--test-3);
    text-decoration: none;
}

.media-tray {
  margin-top: 0.5rem;
}

footer i {
  margin-left: 0.5rem;
  color: var(--icon-color);
  transition: all 0.2s ease-in-out;
}

footer i:hover,
footer a:hover {
  color: var(--icon-color-hover);
  transform: translateY(-3px);
}

footer p + p {
  font-size: 1.3rem;
}
.names {
  line-height: 1.5;
  font-size: 1rem;
  color: var(--icon-color);
}

@media all and (max-width: 810px) {
  footer {
    position: static;
  }
  .containerFooter {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    
  }
  footer p + p {
    order: -1;
  }
}
