.footer__container {
  background-color: white;
  width: 100vw;
  color: #4a4a4a;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 2em;
  padding: 1em 5em;

  .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid whitesmoke;
    padding: 2em 0;

    &__left {
      width: 300px;
    }

    &__right {
      width: 200px;
      ul {
        text-align: right;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1em;

        li {
          a {
            text-decoration: none;
            color: #4a4a4a;
          }
        }
      }
    }
  }

  .bottom {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__left {
    }

    &__right {
      ul {
        display: flex;
        align-items: center;
        gap: 1em;
        list-style: none;
        li {
          a {
            text-decoration: none;
            color: #4a4a4a;
          }
        }
      }
    }
  }
}
