:root {
    --color-main: rgb(235, 235, 235);
    --bg-color-accent: #EDE7B1;
    --icon-color: #fff;
    --icon-color-hover: #EDE7B1;
    --background-color: #EDE7B1;
    --header-footer-color: #9B5DE5;

    --tag-purple: #9B5DE5;
    --tag-yellow: #FEE440;
    --tag-pink: #F15BB5;
    --tag-blue: #00BBF9;
    --tag-TURQUOISE: #00F5D4;
    --tag-ORANGE:#ff9505;
}

/*-----------------------------------  
    Table of Contents
    -> General
    -> Typography
    Pages: 
    -> index.html
    -> add-idea.html
    -> get-idea.html
    -> Nav
    -> Footer
----------------------------------*/

html {
    
}

body {
    background: var(--background-color);
    
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
}

.split {
    display: flex;
    flex: wrap;
}

.split > * {
    flex-basis: 100%;
}

main {
    margin: 4rem 0;
}

@media (max-width: 810px) {
    .split > * {
        flex-basis: 100%;
    }
}

/*---------------------
    Typography
---------------------*/

h1 {
    color: var(--header-footer-color);
    font-size: 4rem;
    text-align: center;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

h2 {

}

p {
    color: var(--header-footer-color);
    font-size: 2rem;
}
/*----------------------
    index.html 
 
-----------------------*/
.containerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerMain span:nth-child(4) {
    padding-right: 1rem;
}

.h1Main {
    font-size: 5rem;
    display: flex;
    gap: 0.5rem;
    margin: 1rem;
}

.i, .a2 {
    color: var(--tag-purple);
}

.d, .r {
    color: var(--tag-pink);
}

/*logo has yellow E but without the outline it is hard to read.. */
/* .e {
    color: var(--tag-yellow);
} */

.a {
    color: var(--tag-TURQUOISE);
}

.j, .e {
    color: var(--tag-blue);
}

.btnContainerMain {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 100px 0;
}

.btnContainerMain a {
    text-decoration: none;
    color: white;
}
.putIdeaBtnMain, 
.getIdeaBtnMain {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    width: 300px;
    min-width: 250px;
    height: 100px;
}

.putIdeaBtnMain {
    background: var(--tag-blue);
}

.getIdeaBtnMain {
    background: var(--tag-pink);
}

.putIdeaBtnMain:hover,
.getIdeaBtnMain:hover {
    opacity: .6;
    transform: translateY(-3px);
}


@media (max-width: 810px) {
    .btnContainerMain {
        flex-direction: column;
        align-items: center;
    }
}

/*---------------------
    get-item.html

---------------------*/

.gridcontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    justify-content: space-around;
    
}

#modal-btn {
    margin-left: 0.5rem;
    padding: 0.1rem 0.25rem;
}

.jar {
    max-width: 75%;
    margin-left: 10rem;
}

main ul {
    list-style-type: none;
}

  /* Labels */
#any {
    background-color: var(--tag-ORANGE);
}

#home {
    background-color: var(--tag-blue);
}

#restaurant {
    background-color: var(--tag-yellow);
}

#indoor {
    background-color: var(--tag-pink);
}

#outdoor {
    background-color: var(--header-footer-color);
}

#trip {
    background-color: var(--tag-TURQUOISE);
}
  
/*
    Buttons
*/
.shake {
    padding: 2rem 3rem;
    /* margin: 3rem; */
    font-size: 2rem;
    color: white;
    text-align: center;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    width: 300px;
    min-width: 250px;
    height: 100px;
    border-radius: 10px;
}

/*-------------
    add-item.html
-------------*/

.card {
    background: var(--color-main);
    border: 1px solid rgb(88, 88, 88);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}

.card-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* Radio input css */
input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.category-options {
    border: 2px solid #000;
    border-radius: 10px;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .5rem 0;
    text-align: center;
    width: 120px;
}

.category-options:hover {opacity: .6;}

.any {background: var(--tag-ORANGE);}

.stay-home {background: var(--tag-blue);}

.resturant {background: var(--tag-yellow);}

.road-trip {background: var(--tag-TURQUOISE);}

.indoors {background: var(--tag-pink);}

.outdoors {background: var(--tag-purple);}
/* END OF Radio input css */

.form-btn {
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 1rem;
}

/*---------------------
    Nav
---------------------*/
nav {
    background: var(--header-footer-color);
}

nav .container {
    color: var(--color-main);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
    font-size: 1.25rem;
    position: relative;
}

#nav-logo {
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.nav-list {
    display: flex;
}

.nav-item {
    margin-left: .75rem;
    list-style-type: none;
    font-size: 1.5rem;
}

nav a {
    color: var(--color-main);
    text-decoration: none;
    padding: .2rem;
}

nav a:hover {
    color: var(--bg-color-accent);
    border-bottom: 2px solid var(--bg-color-accent);
}

#mobile-menu {
    display: none;
    z-index: 9;
}

@media (max-width: 810px) {
    .nav-list {
        position: fixed;
        left: 0;
        top: -100%;
        background: var(--header-footer-color);
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: .3s;
        z-index: 2;
    }

    .nav-item {
        padding: 1rem;
    }

    .nav-list.active {
        top: 5.4rem;
    }

    #mobile-menu {
        display: block;
        cursor: pointer;
        width: 25%;
    }
    
    #mobile-menu span {
        display: block;
        background: #fff;
        margin: 5px auto;
        height: 3px;
        width: 25px;
        transition: all 0.3s ease-in-out
    }

    #mobile-menu.active span:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*---------------
    Footer
---------------*/
footer {
    padding: 1rem 0;
    background: var(--header-footer-color);
    color: #fff;
    width: 100%;
    margin-top: auto;
    position: absolute;
    bottom: 0;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: var(--icon-color);
}

.media-tray {
    margin-top: .5rem;
}

footer i {
    margin-left: .5rem;
    color: var(--icon-color);
    transition: all .2s ease-in-out;
}

footer i:hover,
footer a:hover {
    color: var(--icon-color-hover);
    transform: translateY(-3px);
}

footer p + p {
    font-size: 1.3rem;
}
.names {
    line-height: 1.5;
    font-size: 1rem;
    color: var(--icon-color);
}

@media all and (max-width: 810px) {
    footer .container {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
    footer p + p {
        order: -1;
    }
}