:root {
    --color-main: #fff;
    --bg-color-main: rgb(71, 104, 177);
    --bg-color-accent: rgb(123, 191, 218);
    --font-color-accent: rgb(170, 68, 111);
    --icon-color: rgb(83, 163, 209);
    --icon-color-hover: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
}

.split {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.split > * {
    flex-basis: 49%;
}

.card {
    background: var(--bg-color-accent);
    border-radius: 10px;
    padding: 1rem;
    line-height: 1.5rem;
}

.text-center {
    text-align: center;
}

/*
    Typography
*/

h1 {

}

h2 {

}

p {

}

/*
    Nav
*/

nav {
    background: var(--bg-color-main);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-main);
    padding: 1rem 0;
}

#logo {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    height: 100%;
}

nav li {
    margin-left: .75rem;
    list-style-type: none;
    height: 100%;
    font-size: 1.25rem;
}

nav a {
    color: var(--color-main);
    text-decoration: none;
    
}

nav a:hover {
    color: var(--bg-color-accent);
}

/*
    Main
*/

main {
    margin-top: 4rem;
}

.welcome-space {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

main ul {
    list-style-type: none;
}

/*
    Footer
*/

footer {
    position: absolute;
    top: 97%;
    padding: 1rem 0;
    background: var(--bg-color-main);
    color: #fff;
    width: 100%;
}

footer .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.media-tray {
    margin-top: .5rem;
}

footer i {
    margin-left: .5rem;
    color: var(--icon-color);
    transition: all .2s ease-in-out;
}

footer i:hover {
    color: var(--icon-color-hover);
    transform: translateY(-3px);
}