:root {
    --color-main: #fff;
    --bg-color-main: rgb(71, 104, 177);
    --bg-color-accent: rgb(123, 191, 218);
    --font-color-accent: rgb(170, 68, 111);
    --icon-color: rgb(83, 163, 209);
    --icon-color-hover: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
}

.split {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.split > * {
    flex-basis: 48%;
}

.card {
    background: var(--bg-color-accent);
    border-radius: 10px;
    padding: 1rem;
    line-height: 1.5rem;
}

.text-center {
    text-align: center;
}

@media (max-width: 810px) {
    .split > * {
        flex-basis: 100%;
    }
}

/*
    Typography
*/

h1 {

}

h2 {

}

p {

}

/*
    Nav
*/

nav {
    background: var(--bg-color-main);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-main);
    padding: 1rem 0;
}

#logo {
    font-size: 1.5rem;
    z-index: 99;
}

.nav-list {
    display: flex;
}

.nav-item {
    margin-left: .75rem;
    list-style-type: none;
    
    font-size: 1.25rem;
}

nav a {
    color: var(--color-main);
    text-decoration: none;
}

nav a:hover {
    color: var(--bg-color-accent);
}

#mobile-menu {
    display: none;
    z-index: 9;
}

@media (max-width: 810px) {
    .nav-list {
        position: fixed;
        left: 0;
        top: -100%;
        background: var(--bg-color-main);
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: .3s;
        z-index: 2;
    }

    .nav-item {
        padding: 1rem;
    }

    .nav-list.active {
        top: 3.75rem;
    }

    #mobile-menu {
        display: block;
        cursor: pointer;
    }
    
    #mobile-menu span {
        display: block;
        background: #fff;
        margin: 5px auto;
        height: 3px;
        width: 25px;
        transition: all 0.3s ease-in-out
    }

    #mobile-menu.active span:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*
    Main
*/

main {
    margin-top: 4rem;
}

#modal-btn {
    margin-left: .5rem;
    padding: .1rem .25rem;
}

.welcome-space {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

main ul {
    list-style-type: none;
}

/*
    Modal
*/

dialog {
    margin: auto;
    width: 80%;
}
.modal-content {
    margin: 0 auto;
    background: pink;
}

/*
    Footer
*/

footer {
    position: absolute;
    top: 97%;
    padding: 1rem 0;
    background: var(--bg-color-main);
    color: #fff;
    width: 100%;
}

footer .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.media-tray {
    margin-top: .5rem;
}

footer i {
    margin-left: .5rem;
    color: var(--icon-color);
    transition: all .2s ease-in-out;
}

footer i:hover {
    color: var(--icon-color-hover);
    transform: translateY(-3px);
}